<% if(message != "") {  %>
  <section id="message">
      <p><%= message %></p> <span id="close">&times;</span>
  </section>
<% } %>
<header>
    <img
      id="logo"
      src="/img/pokemom.png"
      alt="Logo pokemon"
    />
    <nav>
      <ul>
        <a href="/"><li>Home</li></a>
        <a  href="/cadastro"><li>Cadastrar</li></a> 
      </ul> 
    </nav>
</header>
